.container__product {
    display: flex;
    justify-content: center;
    text-align: center;

}

h2 {
    font-size: 30px;
    color: #212627;
    -webkit-text-stroke: 1px #61dafb;
    text-align: center;
}